3. a) Creation and Loading different types of datasets in Python using the
required libraries:-
i. Creation using pandas
ii. Loading CSV dataset files using Pandas
iii. Loading datasets using sklearn
b)Write a python program to compute Mean, Median, Mode,
Variance,Standard Deviation using Datasets
c) Demonstrate various data pre-processing techniques for a given dataset.
Write a python program to compute
i. Reshaping the data,
ii. Filtering the data,
iii. Merging the data
iv. Handling the missing values in datasets
v. Feature Normalization: Min-max normalization

In [1]:
# 3) i
import pandas as pd

# Create a DataFrame manually using a dictionary
data = {
    'Name': ['Aman', 'Bhavna', 'Chetan', 'Diya', 'Esha'],
    'Age': [21, 20, 23, 22, 24],
    'Marks': [85, 92, 76, 88, 95],
    'City': ['Bhopal', 'Delhi', 'Pune', 'Bhopal', 'Chennai']
}

df_manual = pd.DataFrame(data)
print("Dataset Created using Pandas:\n")
print(df_manual)

Dataset Created using Pandas:

     Name  Age  Marks     City
0    Aman   21     85   Bhopal
1  Bhavna   20     92    Delhi
2  Chetan   23     76     Pune
3    Diya   22     88   Bhopal
4    Esha   24     95  Chennai

In [2]:
# 3) ii
# Loading from a CSV file (assuming you have data/students.csv)
# df_csv = pd.read_csv("data/students.csv")
# print("\nDataset Loaded from CSV:\n", df_csv.head())

# For demonstration, we’ll save and reload the above DataFrame
df_manual.to_csv("students.csv", index=False)
df_csv = pd.read_csv("students.csv")
print("\nLoaded from CSV file:\n", df_csv)

Loaded from CSV file:
      Name  Age  Marks     City
0    Aman   21     85   Bhopal
1  Bhavna   20     92    Delhi
2  Chetan   23     76     Pune
3    Diya   22     88   Bhopal
4    Esha   24     95  Chennai

In [3]:
# 3) iii

from sklearn.datasets import load_iris

iris = load_iris(as_frame=True)
iris_df = iris.frame

print("\nIris Dataset Loaded from sklearn:")
print(iris_df.head())

Iris Dataset Loaded from sklearn:
   sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)  \
0                5.1               3.5                1.4               0.2
1                4.9               3.0                1.4               0.2
2                4.7               3.2                1.3               0.2
3                4.6               3.1                1.5               0.2
4                5.0               3.6                1.4               0.2

   target
0       0
1       0
2       0
3       0
4       0

In [4]:
# 3 b 
import numpy as np
from statistics import mean, median, mode, variance, stdev

# Using the 'Marks' column from our DataFrame
marks = df_manual['Marks']

print("Mean:", marks.mean())
print("Median:", marks.median())
print("Mode:", marks.mode()[0])
print("Variance:", marks.var())
print("Standard Deviation:", marks.std())

Mean: 87.2
Median: 88.0
Mode: 76
Variance: 53.699999999999996
Standard Deviation: 7.328028384224504

In [5]:
# 3) c i 

# Example: reshape using melt (long format)
reshaped = pd.melt(df_manual, id_vars=['Name'], value_vars=['Age', 'Marks'])
print("\nReshaped Data (using melt):\n", reshaped.head())

Reshaped Data (using melt):
      Name variable  value
0    Aman      Age     21
1  Bhavna      Age     20
2  Chetan      Age     23
3    Diya      Age     22
4    Esha      Age     24

In [6]:
# 3 c ii
# Example: Filter students with Marks > 85
filtered = df_manual[df_manual['Marks'] > 85]
print("\nFiltered Data (Marks > 85):\n", filtered)

Filtered Data (Marks > 85):
      Name  Age  Marks     City
1  Bhavna   20     92    Delhi
3    Diya   22     88   Bhopal
4    Esha   24     95  Chennai

In [7]:
# 3 c iii - Merging two DataFrames
df_city = pd.DataFrame({
    'City': ['Bhopal', 'Delhi', 'Pune', 'Chennai'],
    'State': ['MP', 'Delhi', 'Maharashtra', 'TN']
})

merged_df = pd.merge(df_manual, df_city, on='City', how='left')
print("\nMerged DataFrame:\n", merged_df)

Merged DataFrame:
      Name  Age  Marks     City        State
0    Aman   21     85   Bhopal           MP
1  Bhavna   20     92    Delhi        Delhi
2  Chetan   23     76     Pune  Maharashtra
3    Diya   22     88   Bhopal           MP
4    Esha   24     95  Chennai           TN

In [8]:
# 3 c iv
# Create a DataFrame with missing values
df_missing = pd.DataFrame({
    'Name': ['Aman', 'Bhavna', 'Chetan', 'Diya'],
    'Marks': [85, None, 76, None]
})

print("\nOriginal DataFrame with Missing Values:\n", df_missing)

# Fill missing values with mean
df_filled = df_missing.fillna(df_missing['Marks'].mean())
print("\nAfter Filling Missing Values (with mean):\n", df_filled)

# Or drop missing values entirely
df_dropped = df_missing.dropna()
print("\nAfter Dropping Missing Values:\n", df_dropped)

Original DataFrame with Missing Values:
      Name  Marks
0    Aman   85.0
1  Bhavna    NaN
2  Chetan   76.0
3    Diya    NaN

After Filling Missing Values (with mean):
      Name  Marks
0    Aman   85.0
1  Bhavna   80.5
2  Chetan   76.0
3    Diya   80.5

After Dropping Missing Values:
      Name  Marks
0    Aman   85.0
2  Chetan   76.0

In [9]:
# 3 c v - Feature Normalization — Min-Max Normalization
# Using Marks column for normalization
marks = df_manual['Marks']
min_marks = marks.min()
max_marks = marks.max()

normalized_marks = (marks - min_marks) / (max_marks - min_marks)
df_manual['Normalized_Marks'] = normalized_marks

print("\nAfter Min-Max Normalization:\n", df_manual[['Name', 'Marks', 'Normalized_Marks']])

After Min-Max Normalization:
      Name  Marks  Normalized_Marks
0    Aman     85          0.473684
1  Bhavna     92          0.842105
2  Chetan     76          0.000000
3    Diya     88          0.631579
4    Esha     95          1.000000